[Unit]
Description=dnsmasq daemon for use as a WiFi accesspoint
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/wifiap_dnsmasq.sh %I
